<style type="text/css">
/* a:link {
  border-style: solid;
  border-width : 1px 4px 4px 1px;
  text-decoration : none;
  padding : 4px;
   border-color : #355681;
  color:#355681;
}
a:hover { border-color: #ccc; }
*/

td
{
text-align:center;
}
tr
{
text-align:center;
}


h3{
 font-style:bold;
 font-family:verdana;
 position: relative;
 text-align:center;
 width:50%;
   text-shadow: 0 -1px rgba(0,0,0,0.6);
    font-size: 28px;
    line-height: 40px;
    background: #355681;
    background: rgba(53,86,129, 0.8);
	background-position:center;
    border: 0px solid #fff;
    padding: 5px 15px;
    color: white;
    border-radius: 0 10px 0 10px;
    box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
   font-family: 'Muli', sans-serif;
/*font-family: tims, cursive, serif;*/
}
 
	  body {
        padding-top: 10px;
        padding-bottom: 60px;
		background-image:url('../img/bg.jpg');
      }

      /* Custom container */
      .container {
        margin: 0 auto;
        max-width: 820px;
      }
      .container > hr {
        margin: 0px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }


      /* Customize the navbar links to be fill the entire space of the .navbar */
      .navbar .navbar-inner {
        padding: 0;
      }
      .navbar .nav {
        margin: 0;
        display: inline-flex;
        width: 100%;
      }
      .navbar .nav li {
        display:table-cell;
        width: 1%;
        float: none;
      }
      .navbar .nav li a {
        font-weight: bold;
        text-align: center;
        border-left: 1px solid rgba(255,255,255,.75);
        border-right: 1px solid rgba(0,0,0,.1);
      }
      .navbar .nav li:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      .navbar .nav li:last-child a {
        border-right: 0;
        border-radius: 0 3px 3px 0;
      }
    



	  /*body
	  {
		background-image:url('1.jpg');
	  }*/
	  
	  .edt
	  {
		background:#ffffff; 
		border:3px double #aaaaaa; 
		-moz-border-left-colors:  #aaaaaa #ffffff #aaaaaa; 
		-moz-border-right-colors: #aaaaaa #ffffff #aaaaaa; 
		-moz-border-top-colors:   #aaaaaa #ffffff #aaaaaa; 
		-moz-border-bottom-colors:#aaaaaa #ffffff #aaaaaa; 
		width: 350px;
	  }
	  .edt_30
	  {
		background:#ffffff; 
		border:3px double #aaaaaa; 
		font-family: Courier;
		-moz-border-left-colors:  #aaaaaa #ffffff #aaaaaa; 
		-moz-border-right-colors: #aaaaaa #ffffff #aaaaaa; 
		-moz-border-top-colors:   #aaaaaa #ffffff #aaaaaa; 
		-moz-border-bottom-colors:#aaaaaa #ffffff #aaaaaa; 
		width: 30px;
	  }
	  
	 /* input{
	  padding:2px;
	  	  }*/
	  
	  input
	  {
		
		padding: 1px;
		font-family: tims, cursive, serif;
	  }
	  
	  input.auto-map
	  {
		font-weight: normal;
		font-size: 70%;
	  }
	 
	  th {
		vertical-align: top;
	  }
	  thead{
	  font-weight: bold;
	  background-image:url('../img/cell-blue.jpg');
	  border-width: 1px;
	  font-family: verdana,arial,sans-serif;	
	  border-style: solid;
	  border-color: #999999;
	  }


div.pagination {
	padding: 3px;
	margin: 3px;
	text-align:right;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
}

div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
}

/*

#header { 
background: url(../images/image1.jpg) no-repeat; 
height: 81px; 
border-bottom: 1px solid #ccc; 
}

#navlist { 
margin: 60px 0 0 0; 
height: 20px; 
float:right; 
font: bold bold garamond,times,verdana arial; 
text-align:right; 
} 
#navlist li { 
padding: .9em; 
display: inline; 
}

#navlist a { 
color: #009; 
text-decoration: none; 
}

#navlist a:hover { 
color: #39F; 
text-decoration: underline; 
} */
</style>