	  body
	  {
		background-color: #fffcdd;
	  }
	  
	  .edt
	  {
		background:#ffffff; 
		border:3px double #aaaaaa; 
		-moz-border-left-colors:  #aaaaaa #ffffff #aaaaaa; 
		-moz-border-right-colors: #aaaaaa #ffffff #aaaaaa; 
		-moz-border-top-colors:   #aaaaaa #ffffff #aaaaaa; 
		-moz-border-bottom-colors:#aaaaaa #ffffff #aaaaaa; 
		width: 350px;
	  }
	  .edt_30
	  {
		background:#ffffff; 
		border:3px double #aaaaaa; 
		font-family: Courier;
		-moz-border-left-colors:  #aaaaaa #ffffff #aaaaaa; 
		-moz-border-right-colors: #aaaaaa #ffffff #aaaaaa; 
		-moz-border-top-colors:   #aaaaaa #ffffff #aaaaaa; 
		-moz-border-bottom-colors:#aaaaaa #ffffff #aaaaaa; 
		width: 30px;
	  }
	  
	  input.btn
	  {
		font-weight: bold;
		padding: 5px;
	  }
	  
	  input.auto-map
	  {
		font-weight: normal;
		font-size: 70%;
	  }
	  
	  th {
		vertical-align: top;
	  }


div.pagination {
	padding: 3px;
	margin: 3px;
}

div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AAAADD;
	
	text-decoration: none; /* no underline */
	color: #000099;
}

div.pagination a:hover, div.pagination a:active {
	border: 1px solid #000099;

	color: #000;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
}

div.pagination span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
}

